.header {
  padding: 24px 0;
  position: relative;
  z-index: 1000;
  @include bp(tablet) {
    padding: 38px 0;
    position: fixed;
    width: 100%;
    transition: backdrop-filter .3s,background-color .3s,-webkit-backdrop-filter .3s;
    // background-color: hsla(0,0%,100%,.5);
    background-color: rgba(244, 244, 244, .5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .modal-load-animation {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;

    > svg {
      position: absolute;
      top: -1vh;
      width: 100vw;
      height: 102vh;
    }
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    display: flex;
    width: 100px;
    height: auto;
    @include bp(tablet) {
      width: 129px;
    }
  }

  .header-menu {
    width: 30px;
    height: auto;
    padding: 5px;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    @include bp(tablet) {
      width: 24px;
      padding: 0;
    }
  }

  .modal {
    --animate-duration: 0.5s;
  }

  .wipe-animation {
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }

  .animated-logo {
    width: 130px;
    height: 28px;
    display: flex;
    position: relative;

    > img {
      display: inline-blocks;
      width: auto;
      height: 28px;

      &:nth-child(2) {
        margin: 0 2px;
      }
    }
    &:hover .rotate-in-center {
	    animation: rotate-in-2-cw 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
  }
}