.header {
  padding: 24px 0;
  @include bp(tablet) {
    padding: 38px 0;
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    display: flex;
    width: 129px;
    height: auto;
  }

  .header-menu {
    width: 24px;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  .modal {
    --animate-duration: 0.5s;
  }

  .wipe-animation {
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }
}