.our-people-section {
  .our-people-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 48px;
    grid-gap: 64px;
    @include bp(tablet) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 100px;
    }

    @include bp(desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 1000px;
      margin: 100px auto 0;
    }

    @for $i from 1 through 20 {
      .our-people-item:nth-child(#{$i}) {
        --animate-delay: #{$i * 0.25}s;
      }
    }
  }

  .our-people-item {
    opacity: 0;
    &__card {
      position: relative;
      width: 204px;
      height: 204px;
      margin-bottom: 16px;
      transform-style: preserve-3d;
      perspective: 1000px;

      &:hover {
        .our-people-item__inner {
          transform: rotateY(180deg);
        }
      }
    }
    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 400ms;
      transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
      transform-style: preserve-3d;
    }
    &__front-face,
    &__back-face {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &__back-face {
      padding: 16px;
      border-radius: 50%;
      background-color: #FAD1DD;
      transform: rotateY(180deg);
      color: white;
    }
    &__avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &__name {
      margin-bottom: 8px;
      font-weight: $font-bold;
      font-size: 23px;
      line-height: 23px;
      text-align: center;
      color: #000;
      text-transform: lowercase;
    }

    &__role {
      font-weight: $font-medium;
      font-size: 16px;
      line-height: 1.2;
      text-align: center;
      color: #000;
    }
  }
}