.campaign-container {
  .campaign-hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(8px);
    }

    &__info {
      display: block;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto 64px;
      @include bp(tablet) {
        max-width: 920px;
        margin-bottom: 80px;
      }
    }
  }

  &__article {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 32px auto;
    @include bp(tablet) {
      max-width: 920px;
      margin-top: 64px;
    }
  }

  .hero-tagline {
    display: inline-flex;
    padding: 8px 24px;
    margin-bottom: 24px;
    border-radius: 40px;
    background-color: #fff;
    font-weight: $font-medium;
    font-size: 19px;
    line-height: 20px;
    text-align: left;
    color: #000;
  }

  .hero-title {
    padding-bottom: 28px;
    font-weight: $font-extra-bold;
    font-size: 40px;
    line-height: 1.1;
    text-align: left;
    color: #fff;

    @include bp(tablet) {
      font-size: 72px;
      padding-bottom: 48px;
    }

    @include bp(desktop) {
      padding-bottom: 56px;
    }
  }

  .content {
    margin-top: 32px;
    @include bp(tablet) {
      margin-top: 64px;
    }
  }

  p {
    margin-bottom: 32px;
    font-weight: $font-medium;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
    color: #000;
    @include bp(tablet) {
      font-size: 32px;
    }
  }
  .pills-list {
    display: flex;
  }
  .pill {
    padding: 2.5px 40px;
    border-radius: 16px;
    background: transparent;
    border: 1px solid #f8b617;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #000;
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  .campaign-image-wrapper {
    max-height: 392px;
    margin-bottom: 48px;
    overflow: hidden;
  }

  .contact-us-section {
    padding-top: 60px;
  }

  @import "./../components/slices/single-pie-chart/single-pie-chart.scss";
}
