.our-work-outer-container {
  width: 100%;
  position: relative;

  .page-bg-illu-01 {
    position: fixed;
    left: -200px;
    top: 120px;
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.our-work-main-content {
  margin-top: 80px;
  position: relative;
  z-index: 100;

  .works-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1262px;
    margin: 80px auto 0;
  }

  .work-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 354px;
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      transition: all .25s ease-out;
    }

    &:hover {
      img {
        transform: scale(1.05);
        transition: all .25s ease-in;
      }
    }
  }

  .work-info {
    position: relative;
    width: 100%;
    padding: 24px;
    z-index: 10;
  }

  .work-title {
    margin-bottom: 16px;
    font-family: Raleway-ExtraBold;
    font-weight: normal;
    font-size: 68px;
    line-height: 1.1;
    text-align: left;
    color: #fff;
    z-index: 10;
  }
}
