.our-people-page {
  position: relative;
  width: 100%;
  z-index: 100;

  .our-people-section {
    margin-bottom: 64px;
    @include bp(desktop) {
      margin-bottom: 100px;
    }
  }

  .page-bg-illu-01 {
    position: fixed;
    top: 190px;
    right: -200px;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.section-divider {
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color: $primary-yellow;
  border: 0;
  transition: width .25s ease-out;
  transform-origin: center center;
  &.animated {
    width: 340px;
  }
}