@import "./reset";
@import "./mixins";
@import "./animate";

:root {
  --page-guttter: 24px;
  @include bp(tablet) {
    --page-guttter: 48px;
  }
}

//colors 
$primary-color: #333;
$primary-yellow: #F8B617;
$primary-red: #E61853;
$primary-black: #1A1A1A;

//tipography
$font-stack: 'Raleway', sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-size: 62.5%;
  color: $primary-color;
}

img {
  max-width: 100%;
}

main {
  max-width: 100%;
  overflow: hidden;
}

.page-top {
  @include bp(tablet) {
    padding-top: 104px;
  }
}

p strong {
  color: $primary-yellow;
}

//common
@import "./../components/shared/header/header.scss";
@import "./../components/shared/modal/modal.scss";
@import "./../components/shared/footer/footer.scss";
@import "./../components/shared/container/container.scss";
@import "./../components/shared/section-title/section-title.scss";
@import "./../components/shared/page-title/page-title.scss";
@import "./../components/shared/page-subtitle/page-subtitle.scss";
@import "./../components/shared/section-subtitle/section-subtitle.scss";
@import "./../components/shared/aside-mark/aside-mark.scss";
@import "./../components/shared/button/button.scss";
@import "./../components/shared/animated-arrow-down/animated-arrow-down.scss";
@import "./../components/shared/scroll-line/scroll-line.scss";
@import "./../components/shared/jobs/jobs.scss";


//homepage
@import "./../components/homepage/hero/hero.scss";
@import "./../components/homepage/about-us/about-us.scss";
@import "./../components/homepage/our-services/our-services.scss";
@import "./../components/homepage/our-clients/our-clients.scss";
@import "./../components/shared/contact-us/contact-us.scss";
@import "./../components/shared/our-tech/our-tech.scss";

//our work
@import "./our-work";
@import "./our-people";
@import "./about-us";
@import "./campaign";
@import "./animations";