.homepage-our-services {
  padding-top: 60px;

  @include bp(desktop) {
    padding-top: 120px;
  }

  @include bp(desktop-lg) {
    padding-top: 230px;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
  
    @include bp(desktop) {
      flex-direction: row;
    }
  }

  .content {
    flex: 1;
  }
}
