.homepage-our-services {
  padding-top: 60px;
  position: relative;

  @include bp(desktop) {
    padding-top: 120px;
  }

  @include bp(desktop-lg) {
    padding-top: 230px;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
  
    @include bp(desktop) {
      flex-direction: row;
    }
  }

  .our-services-slider {
    margin-top: 40px;
    border-top: 2px solid #E6E6E6;

    @include bp(desktop) {
      margin-top: 54px;
    }
  }

  .our-services-grid {
    display: grid;
    grid-template-columns: 1fr;
  
    @include bp(desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .our-services-item {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 9px;
      background-color: transparent;
      transition: all .25s ease-in-out;
    }

    &:hover {
      &:after {
        width: 90px;
        background-color: $primary-yellow;
        transition: all .25s ease-in-out;
      }
    }

    .icon-wrapper {
      position: relative;
      display: inline-flex;
      max-height: 60px;
      margin: 0 0 24px;
      
      &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $primary-red;
        opacity: .3;
      }

      svg {
        width: auto;
        height: 60px;
      }
    }

    a {
      display: block;
      height: 100%;
      padding: 48px 32px;
      text-decoration: none;
      background-color: #fff;
      transition: all .4s ease-in;

      &:hover {
        background-color: #FCE2D3;
      }
    }

    h2 {
      margin: 0 0 16px;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 600;
      text-align: left;
      color: #000;

      @include bp(desktop) {
        max-width: 60%;
        margin: 0 0 24px;
        font-size: 32px;
      }
    }

    .bottom-text {
      display: flex;
      align-items: baseline;

      svg {
        width: 30px;
        margin-right: 16px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      text-align: left;
      color: #000;

      @include bp(desktop) {
        font-size: 24px;
      }
    }
  }

  .button-row {
    display: block;
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;

    @include bp(desktop) {
      margin-top: 32px;
    }
  }
}