.aside-mark {
  display: none;
  position: absolute;
  top: 160px;
  left: -41px;
  height: 24px;
  width: 100px;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;

  @media (min-width: 1280px) {
    display: flex;
  }

  .aside-tag {
    padding-right: 16px;
    font-size: 16px;
    line-height: 1;
    font-weight: 100;
    text-align: left;
    color: #000;
    white-space: nowrap;
  }

  .aside-number {
    font-family: Raleway-Medium;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    color: #000;
    > span {
      position: absolute;
      transform: rotate(90deg);
    }
  }
}
