.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;

  .modal-load-animation {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;

    > svg {
      position: absolute;
      top: -1vh;
      width: 100vw;
      height: 102vh;
    }
  }

  .bg-illus-dashed-circle {
    position: absolute;
    left: -100px;
    bottom: 18vh;
    width: 370px;
    height: 370px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    > svg g {
      opacity: 1;
    }
  }

  .bg-shape-animation {
    display: none;
    @include bp(tablet) {
      display: block;
      position: absolute;
      height: 580px;
      width: 580px;
      top: -10%;
      right: -230px;
      z-index: 0;

      .shape {
        display: flex;
        will-change: border-radius;
        animation: morph 8s ease-in-out forwards;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        height: 580px;
        width: 580px;
        z-index: 5;
        transition: all 1s ease-in-out;
        border: 2px solid #49CED9;
        // --primary: #88D5BF;
        // --secondary: #5D6BF8;
        // background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
      }

      @keyframes morph {
        0% {
          border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        } 
        
        50% {
          border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
        }
        
        100% {
          border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        } 
      }
    }
  }

  .modal-content {
    position: relative;
    align-items: baseline;
    display: flex;
    width: 100%;
    z-index: 100;
    padding-top: 120px;
    @include bp(tablet) {
      align-items: center;
      padding-top: 0;
    }
  }

  .container {
    width: 100%;
    position: relative;
  }


  .close-menu-button {
    position: absolute;
    top: -58px;
    right: 16px;
    width: 32px;
    height: 32px;
    border: 0;
    margin: 0;
    padding: 0;
    background-size: cover;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    svg {
      will-change: transform;
      transition: all .25s ease-out;
      transform-origin: center center;
    }

    svg path {
      fill: white;
    }

    &:hover {
      // svg {
      //   transform: translateZ(0) scale(1.2);
      // }
      svg path {
        fill: $primary-red;
      }
    }
  }

  .nav-list {
    display: inline-flex;
    flex-direction: column;
  }

  .nav-list-item {
    margin-bottom: 16px;

    @include bp(desktop) {
      margin-bottom: 32px;
    }

    a {
      position: relative;
      display: inline-block;
      padding-bottom: 8px;
      font-weight: 900;
      font-size: 32px;
      line-height: 1.2;
      text-align: left;
      text-decoration: none;
      transform: translateX(0);
      transition: all .35s ease-in;
      background: linear-gradient(to left, white 50%, $primary-yellow  50.01%);
      background-size: 200% 100%;
      background-position: 100% 0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include bp(tablet) {
        font-size: 32px;
      }
      @include bp(desktop) {
        font-size: 64px;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 8px;
        transition: all .35s ease-in;
        background-color: $primary-yellow;
      }

      &:hover,
      &:active,
      &:focus {
        // color: $primary-yellow;
        transition: all .25s ease-in;
        // margin-left: 10px;
        transform: translateX(10px);
        background-position: 200% 0;
        &:before {
          width: 100%;
        }
      }
    }
  }
}