.scroll-line {
  display: none;
  @include bp(tablet) {
    display: block;
    position: absolute;
    top: 0;
    left: 60px;
    width: 1px;
    height: 0;
    background-color: $primary-yellow;
    animation: drawLine 2s ease-in forwards;
  }

  @keyframes drawLine {
    from {
      height: 0;
    }

    to {
      height: 100%;
    }
  }

  @keyframes drawLineHomepage {
    from {
      height: 0;
    }

    to {
      height: 50%;
    }
  }
}

.homepage-hero {
  .scroll-line-animate {
    position: absolute;
    top: 50%;
    left: 60px;
    width: 1px;
    height: 50%;
    .scroll-line {
      top: 0;
      left: 0;
      animation: drawLine .75s cubic-bezier(.17,.67,.83,.67) 2s forwards;
    }
  }
}

.contact-us-section {
  .scroll-line {
    max-height: 26%;
  }
}