.footer {
  padding: 32px 0 32px;
  margin-top: 40px;
  background-color: $primary-black;
  position: relative;
  z-index: 500;
  @include bp(tablet) {
    padding: 64px 0 64px;
    margin-top: 72px;
  }
  .inner-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding-top: 40px;
    @include bp(tablet) {
      grid-template-columns: 2fr 1fr 1fr;
      grid-column-gap: initial;
      grid-row-gap: initial;
      padding-top: 56px;
    }
  }

  .footer-logo {
    display: flex;
  }

  .offices-list {
    grid-column: 1 / 3;
    @include bp(tablet) {
      grid-column: initial;
    }

    &__item {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      text-align: left;
      color: #fff;
      text-decoration: none;
      @include bp(tablet) {
        font-size: 16px;
      }
    }

    &__flag {
      width: 64px;
      margin-right: 24px;
    }
  }

  .offices-list > li {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer-nav {
    grid-column: 1 / 2;
    @include bp(tablet) {
      grid-column: initial;
    }
    &__list {
      padding: 0;
    }

    &__item {
      &:not(last-child) {
        margin-bottom: 20px;
      }

      a {
        font-weight: normal;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        color: #fff;
        text-decoration: none;
        transition: color 350ms ease-out;
        &:hover,
        &:focus,
        &:active {
          color: $primary-yellow;
          transition: color 350ms ease-in;
        }
      }
    }
  }

  .footer-social-links {
    grid-column: 2 / 3;
    font-size: 20px;
    @include bp(tablet) {
      grid-column: initial;
    }

    li:not(last-child) {
      margin-bottom: 20px;
    }

    a {
      color: white;
    }
  }
}
