.footer {
  padding: 64px 0 64px;
  margin-top: 72px;
  background-color: $primary-black;
  position: relative;
  z-index: 500;

  .inner-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-top: 58px;
  }

  .footer-logo {
    display: flex;

    img {
      width: 130px;
    }
  }

  .offices-list {
    a {
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      text-align: left;
      color: #fff;
      text-decoration: none;
    }
  }

  .offices-list > li {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .site-links ul li { 
    font-weight: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: #fff;

    &:not(last-child) {
      margin-bottom: 20px;
    }
  }

  .footer-social-links {
    font-size: 20px;

    li:not(last-child) {
      margin-bottom: 20px;
    }

    a {
      color: white;
    }
  }
}
