
.section-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.2;
  text-align: left;
  color: $primary-yellow;

  @include bp(desktop) {
    font-size: 66px;
    opacity: 0;
  }

  @include bp(desktop-lg) {
    font-size: 80px;
  }
}