.homepage-hero {
  position: relative;

  @include bp(tablet) {
    padding-left: 100px;
  }

  .container {
    @include bp(tablet) {
      margin: 0;
    }
  }

  .inner-hero {
    @include bp(desktop) {
      display: flex;
      align-items: center;
    }

    .hero-title {
      width: 100%;
      margin-bottom: 48px;

      @include bp(desktop) {
        flex: 1 0 calc(64% - 38px);
        width: auto;
        padding-right: 38px;
        margin-bottom: 0;
      }

      strong {
        color:  $primary-yellow;
        font-weight: 800;
      }
    }

    .hero-image-wrapper {
      width: 90%;
      margin: 0 auto;

      @include bp(tablet) {
        width: 80%;
      }

      @include bp(desktop) {
        flex:  0 0 40%;
        height: 570px;
        width: initial;
        margin: 0;

        img {
          position: absolute;
          height: 100%;
          width: auto;
          max-width: none;
        }
      }
    }
  }
}



.hero-title {
  font-family: Raleway-Medium;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.06;
  text-align: left;
  color: #000;
  text-align: center;
  span br {
    display: none;
  }

  @include bp(tablet) {
    width: 100%;
  }

  @include bp(desktop) {
    font-size: 72px;
    text-align: left;

    span br {
      display: initial;
    }
  }
}

.hero-social-links {
  display: none;
  position: absolute;
  width: 100px;
  left: 0;
  top: 20%;
  align-items: center;
  justify-content: center;
  margin-top: 0;

  @include bp(tablet) {
    display: flex;
    flex-direction: column;
  }

  li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero-social-link {
  font-size: 16px;
  line-height: 1;
  display: inline-flex;
  color: $primary-color;
  transition: all .25s linear;

  &:hover,
  &:focus {
    color: $primary-red;
  }
}