.homepage-hero {
  position: relative;
  @include bp(tablet) {
    position: relative;
    padding-left: 100px;
    min-height: calc(100vh - 103px);
  }

  @include bp(desktop) {
    position: relative;
    min-height: calc(100vh - 103px);
  }

  &__aside {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
  }

  &__mark-wrapper {
    position: relative;
  }

  .container {
    @include bp(tablet) {
      margin: 0;
    }
  }

  .inner-hero {
    @include bp(desktop) {
      display: flex;
      align-items: center;
    }

    .hero-title {
      width: 100%;
      padding-top: 16px;
      margin-bottom: 48px;
      font-weight: 800;

      @include bp(tablet) {
        flex: 1 0 calc(59% - 38px);
        width: auto;
        padding-top: 16px;
        padding-right: 38px;
        margin-bottom: 0;
      }

      strong {
        color:  $primary-yellow;
        font-weight: 800;
      }
    }

    .hero-image-wrapper {
      width: 90%;
      margin: 0 auto;

      @include bp(tablet) {
        width: 80%;
      }

      @include bp(desktop) {
        flex:  0 0 41%;
        height: 570px;
        width: initial;
        margin: 0;

        img {
          position: absolute;
          height: 100%;
          width: auto;
          max-width: none;
        }
      }
    }
  }
}

.hero-title {
  font-family: Raleway-Medium;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.06;
  text-align: left;
  color: #000;
  text-align: center;
  span br {
    display: none;
  }

  @include bp(tablet) {
    width: 100%;
    font-size: 48px;
  }

  @include bp(desktop) {
    font-size: 72px;
    text-align: left;

    span br {
      display: initial;
    }
  }
}

.homepage-hero {
  &__social-links {
    display: none;
    position: relative;
    width: 83px;
    left: 0;
    top: 120px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  
    @include bp(tablet) {
      display: flex;
      flex-direction: column;
    }
  
    li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  
  &__social-link {
    font-size: 16px;
    line-height: 1;
    display: inline-flex;
    color: $primary-color;
    transition: all .25s linear;
  
    &:hover,
    &:focus {
      color: $primary-red;
    }
  }
}