
.page-title {
  font-weight: 800;
  font-size: 40px;
  line-height: .9;
  text-align: left;
  color: #000000;

  @include bp(desktop) {
    font-size: 100px;
  }

  @include bp(desktop-lg) {
    font-size: 152px;
  }
}
