
.page-subtitle {
  font-family: Raleway-Medium;
  font-weight: normal;
  font-size: 35px;
  line-height: 1.2;
  text-align: left;
  color: #000;

  @include bp(desktop) {
    font-size: 72px;
    margin-top: 16px;
    margin-left: 160px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 10px;
      width: 8px;
      height: 117%;
      background-color: #EF7022;
    }
  }
}
