.contact-us-section {
  position: relative;
  padding-top: 60px;

  @include bp(desktop) {
    padding-top: 120px;
  }

  .contact-us-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;

    @include bp(desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 968px;
      margin-top: 40px;
    }

    input {
      height: 48px;
      padding: 0 8px;
      margin-bottom: 48px;
      border: 0;
      border-bottom: 1px solid #999999;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 300;
      text-align: left;
      color: #000;
      outline: none;
      &.full {
        @include bp(desktop) {
          flex: 0 0 100%;
        }
      }
      &.half {
        @include bp(desktop) {
          flex: 0 0 48%;
        }
      }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-family: $font-stack;
      font-size: 16px;
      line-height: 1.1;
      font-weight: 300;
      text-transform: capitalize;
      color: #1a1a1a;
    }

    textarea {
      width: 100%;
      min-height: 48px;
      padding: 0 8px;
      border: 0;
      border-bottom: 1px solid #999999;
      font-size: 16px;
      line-height: 1.1;
      font-weight: 300;
      outline: none;
    }
  }

  .button-row {
    margin-top: 40px;
  }
}
